.student {
  background-color: #202020;

  width: 100%;
}

.student__wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 100px 70px;
}

.student__title {
  width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: left;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
}

.student__about-wrapper{
  margin: 66px 0 0;
  display: flex;
  justify-content: space-between;
}

.student__about-title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: left;
}

.student__about-subtitle {
  margin: 18px 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
}

.student__about-text {
  max-width: 600px;
  margin: 26px 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: left;  
}

.student__about-content {
  display: flex;
  flex-direction: column;
}

.student__link {
  text-decoration: none;
  margin-top: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #FFFFFF;  
}

.studetn__foto {
  border-radius: 10px;
  width: 270px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .student__wrapper {
    padding: 100px 50px;
  }

  .student__about-text {
    font-size: 12px;
    line-height: 18px;
  }
  .studetn__foto {
    width: 255px;
  }
}

@media screen and (max-width: 600px) {
  .student__wrapper {
    padding: 100px 14px;
  }

  .student__about-wrapper{
    flex-direction: column-reverse;
  }
  .studetn__foto {
    max-width: 292px;
  }
}