.portfolio {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.portfolio__wrapper {
  width: 100%;
  padding: 100px 70px;
}

.portfolio__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  padding-bottom: 30px;
  color: #8b8b8b;
}

.portfolio__list {
  list-style: none;
  padding: 0 0 125px;
}

.portfolio__list-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.portfolio__link {
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
  padding: 20px 0 19px 0;
  border-bottom: 1px solid #424242;
  width: 100%;
}

.portfolio__icon {
  margin-left: -18px;
}