.tech {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 100px 70px;
  box-sizing: border-box;
}

.tech__title {
  width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: left;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
}

.list {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill,84px);
  grid-gap: 10px;
  gap: 10px;
  justify-content: center;
  margin: 100px 0 0;
  max-width: 690px;
  padding: 0;
  width: 100%;
  list-style: none;
}

.list__row {
  border-radius: 10px;
  background-color: #303030;
}

.list__row:last-child {
  margin-right: 0;
}

.list__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 20px 0 20px;
}

.list__heading {
  box-sizing: border-box;
  margin: 90px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
}

.list__subheading {
  box-sizing: border-box;
  margin: 26px auto 0;
  max-width: 460px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .tech  {
    padding: 100px 50px;
  }
  .list__heading {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
  }
  .list__subheading {
    font-size: 12px;
    line-height: 18px;
  }
  .list {
    margin: 50px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .tech  {
    padding: 100px 23px;
  }
  .list__heading {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
  }
  .list__subheading {
    font-size: 11px;
    line-height: 16px;
  }
  .list {
    margin: 50px 0 0;
    padding: 0 20px;
  }
}